/*
Format your header, content, sidebar, and footer
Add padding, borders, and margins
X Center your content area in the browser
Add width and height to divs and give them ids
Psuedo-classes for links
Positioning
A div that contains an image and a caption, and position the caption absolutely overtop the image.
Float side bar and content area
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* 
ol, */ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */

/*
  =================================
  Grid
  =================================
*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
	width: 70%;
}

/*
	===============================
	Typography
	===============================
*/

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 22px;
}


/*
	================================
	Buttons
	================================
*/

.btn {
	border-radius: 5px;
	display: inline-block;
	margin: 0;
}

.btn-alt {
	border: 1px solid #dfe2ef;
	padding: 10px 30px
}

/*
	================================
	Home
	================================
*/

body {
	background-color: #a9b2b9;
	color: #555;
	font-weight: 300;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.25;
}


h1 {
	font-size: 2.25em;
	color: purple;
	text-align: center;
	font-family: serif;
}

strong {
	font-weight: 400;
}

cite, em {
	font-style: italic;
}

footer {

	font-size: 1em;
}

.hdr {
	border-radius: 5px;
	margin: 0;
	border: 1px solid #dfe2ef;
	padding: 10px 10px 0px 10px;
	
}



.sidebar {
	float: right;
	width: 40%;
}
.bdr {
	border-radius: 5px;
	display: inline-block;
	margin: 20;
}

.bdr-alt {
	border: 1px solid #dfe2ef;
	padding: 20px 20px
}

.sidebar p {
	list-style-type:circle;
	font-size: 1.25em;
}


.ingredients {
	float: left;
	width: 60%;
	font-size: 1.5em;
}
.instructions{
	clear: both;
	font-size: 1.5em;
}
.ftr {
  clear: both;
  margin-bottom: 0;
  font-size: 1.25em;
}


a:hover {
	color: white;
}













